<template>
    <div class="accumulo-gui">
        <div class="sidebar">
            <br />
            <br />
            <br />
            <router-link class="side-link" to="/accumulo/query">Query</router-link>
            <router-link class="side-link" to="/accumulo/config">Configuration</router-link>
            <router-link class="side-link" to="/accumulo/help">Help</router-link>
        </div>
        <div class="content">
            <router-view /> 
        </div>
    </div>    
</template>
<script>
export default {
    name: "AccumuloGui"    
}
</script>
<style scoped>

</style>
