<template>
    <div class="config">
        <center>
            <table>
                <tr>
                    <td class="confg-param-name">Host</td>
                    <td><input type="text" v-bind:placeholder="configHost" 
                        v-model="host"></td>
                </tr>
                <tr>
                    <td class="confg-param-name">Port</td>
                    <td><input type="text" name="port"
                        v-bind:placeholder="configPort" 
                        pattern="[0-9]*" title="only digits allowed"
                        v-model="port"></td>
                </tr>
                <tr>
                    <td class="confg-param-name">User</td>
                    <td><input type="text" name="user" v-bind:placeholder="configUser"
                        v-model="user"></td>
                </tr>
                <tr>
                    <td class="confg-param-name">Password</td>
                    <td><input type="password" name="password" 
                    placeholder="*******" v-model="password"></td>
                </tr>
            </table>
            <input type="submit" value="Submit" v-on:click="setConfigParameters()">
        </center>
    </div>
</template>
<script>
import { mapMutations, mapState } from "vuex";
export default {
    name: "Config",
    data() {
        return {
            host: this.configHost,
            port: this.configPort,
            user: this.configUser,
            password: this.configPassword,
        }
    },
    computed: {
        ...mapState({
            configHost: "config_host",
            configPort: "config_port",
            configUser: "config_user",
            configPassword: "config_password",
        })
    },
    methods: {
        ...mapMutations({
            setHost: "CONFIG_SET_HOST",
            setPort: "CONFIG_SET_PORT",
            setUser: "CONFIG_SET_USER",
            setPassword: "CONFIG_SET_PASSWORD",
        }),
        setConfigParameters: function() {
            if(this.host != null ) {
                this.setHost(this.host);
            }
            if(this.port != null) {
                this.setPort(this.port);
            }
            if(this.user != null) {
                this.setUser(this.user);
            }
            if(this.password != null) {
                this.setPassword(this.password);
            }
        }
    }
}
</script>
<style scoped>
    tr.config-param-name {
        font-weight: bold;
    }
</style>