<template>
    <div class="help">
        <center>
            <img src="pics/tuco.png" alt="ET97 avatar">
            <p>Source code and issues</p>
            <p>available at</p>
            <a href="https://gitlab.com/ET97/accumulo-indexing">Gitlab project site</a>
        </center>
    </div>
</template>
<script>
export default {
    name: "Help"
}
</script>
<style scoped>
    div.help {
        margin-top: 150px;
    }
</style>
