<template>
    <div>
        <ul>
            <li><a href="https://vuejs.org/v2/guide/">Vue Site</a></li>
            <li><a href="https://cli.vuejs.org/guide/installation.html">
                Vue Cli Installation</a></li>
            <li><a href="https://coursetro.com/courses/23/Vue-Tutorial-in-2018---Learn-Vue.js-by-Example">
                Vue Tutorial</a></li>
            <li><a href="https://coursetro.com/posts/code/144/A-Vuex-Tutorial-by-Example---Learn-Vue-State-Management">
                Vuex Tutorial</a></li>
            <li><a href="https://www.jqwidgets.com/vue/">Vue Components</a></li>
        </ul>
    </div>    
</template>
<script>
export default {
    name: "Links"
}
</script>
<style scoped>

</style>
