<template>
    <div class="query-input">
        <h3>Query</h3>
        <textarea rows="10" cols="50" name="query-iterator" form="query" 
        v-model="query_json">    
        </textarea>
        <form method="POST" name="query" @submit.prevent="submitQuery()">
            <input type="submit" value="Search">
        </form>
    </div>        
</template>
<script>
import { mapState, mapMutations } from "vuex"
export default {
    name: "Query_Input",
    data() {
        return {
            query_json: '{\n "type": "TERM","AND","OR","ANDNOT","XOR",\n ...\n}',
            idsNonFull: true,
            idsInList: []
        }
    },
    computed: {
        ...mapState({
            ids: "query_ids",
            ids_empty: "query_ids_empty",
            host: "config_host",
            port: "config_port",
        })
    },
    methods: {
        ...mapMutations({
            updateIds: "QUERY_SET_IDS",
            updateIdsEmpty: "QUERY_SET_IDS_EMPTY",
        }),
        submitQuery() {
            this.sendQuery(this.treatServerResponse);
            this.updateIds(this.idsInList);
            this.updateIdsEmpty(this.idsNonFull);
        },
        treatServerResponse(idsEmpty, idList) {
            this.idsNonFull = idsEmpty;
            if(idList == null) {
                this.idsInList = [];
            } else {
                this.idsInList = idList;
            }
        },
        async sendQuery(callback) {
            let theUrl = "http://" + this.host + ":" + this.port + "/query/queryIndex";
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", theUrl, false); // true for asynchronous 
            xmlHttp.setRequestHeader("Content-Type", "application/json");
            xmlHttp.onloadend = function() {
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    if(xmlHttp.responseText != null) {
                        callback(false, JSON.parse(xmlHttp.responseText));
                    } else {
                        callback(true, []);
                    }
                } else {
                    console.log("error: " + xmlHttp.status + " --- " + xmlHttp.readyState);
                }
            }
            xmlHttp.send(this.query_json);
            
        }
    },
}
</script>
<style scoped>
    
</style>