<template>
    <div class="doc-ids">
        <center>
            <h3>Document Ids ({{ count_ids }})</h3>
            <span v-if="ids_empty">no data found</span>
            <ul class="doc-id-list" v-else>
                <li type ="" class="doc-id-list" v-for="(id, index) in ids" v-bind:key="index">
                    <!--a class="doc-id-link" v-bind:href="'host:port/rest/document/'+id">{{ index }}</a-->
                    <form method="GET" name="fetch-document" @submit.prevent="fetchDocument(id)">
                        <input class="doc-id-button" type="submit" v-bind:value="index">
                    </form>
                </li>
            </ul>
        </center>
    </div>
</template>
<script>
import {mapState, mapGetters, mapMutations} from "vuex";
export default {
    name: "QueryIds",
    computed: {
        ...mapState({
            ids: "query_ids",
            ids_empty: "query_ids_empty",
            current_id: "query_current_id",
            current_doc: "query_current_doc",
            host: "config_host",
            port: "config_port"
        }),
        ...mapGetters({
            count_ids: "query_countIds",
        }),
    },
    methods: {
        ...mapMutations({
            setCurrentId: "QUERY_SET_CURRENT_ID",
            setCurrentDoc: "QUERY_SET_CURRENT_DOC",
        }),
        fetchDocument: function(id) {
            var theUrl = "http://" + this.host + ":" + this.port + "/query/document/" + id;
            this.setCurrentId(id);
            var xmlHttp = new XMLHttpRequest();
            let currentDoc = "";
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    if(xmlHttp.responseText != null) {
                        currentDoc = xmlHttp.responseText;
                    }
                } else {
                    currentDoc = null;
                }
            }
            xmlHttp.open("GET", theUrl, false); // true for asynchronous 
            xmlHttp.send(null);
            this.setCurrentDoc(currentDoc);
        }
    }
}
</script>
<style scoped>
    li.doc-id-list {
        float: left;
        margin: 0 5px;
        list-style-type: none;
        text-align: center;
        border-style: none;
    }
</style>
