<template>
    <div class="Query">
        <center>
            <qinput />
            <br />
            <hr>
            <br />
            <qids />
            <br />
            <br />
            <hr>
            <br />
            <qdocument />
        </center>
    </div>
</template>
<script>
import QueryInput from "./QueryInput.vue";
import QueryIds from "./QueryIds.vue";
import QueryDocument from "./QueryDocument.vue";

export default {
    name: "Query",
    components: {
        "qinput": QueryInput,
        "qids": QueryIds,
        "qdocument": QueryDocument,
    },
}
</script>
<style scoped>

</style>
