<template>
    <div class="document">
        <div v-if="current_id != null">
            <h3>Document {{ current_id }}</h3>
            <div class="show-document">
                <p>{{ current_doc }}</p>
            </div>
        </div>
        <div v-else>
            <h3>no document selected</h3>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";
export default {
    name: "QueryDocument",
    computed: {
        ...mapState({
            current_id: "query_current_id",
            current_doc: "query_current_doc",
        })
    }
}
</script>
<style scoped>
    div.show-document {
        background: white;
        border-color: white;
        border-style: solid;
        border-width: 1.0em;
        text-align: left;
    }
</style>
