<template>
    <div>
        <center>
            <table>
                <tr>
                    <td class="field">Title</td>
                    <td class="value"><input type="text" v-model="todo.title"></td>
                </tr>
                <tr>
                    <td class="field">Date</td>
                    <td class="value"><input type="date" v-model="todo.date"></td>
                </tr>
                <tr>
                    <td class="field">Description</td>
                    <td class="value"><textarea rows="10" cols="50" 
                        v-model="todo.description"/>    
                    </td>
                </tr>
            </table>
            <input type="button" value="Add" v-on:click="submitTodo(todo)">
        </center>
    </div>
</template>
<script>
import { mapMutations } from "vuex";
export default {
    name: "TodoAdd",
    data() {
        return {
            todo: {
                title: "",
                description: "",
                date: ""
            },
        }
    },
    methods: {
        ...mapMutations({
            addTodo: "TODO_ADD",
        }),
        submitTodo: function(todo) {
            let newTodo = {
                title: todo.title,
                description: todo.description,
                date: todo.date
            }
            this.addTodo(newTodo);
            this.todo.title="";
            this.todo.date="";
            this.todo.description="";
        }
    }
}
</script>
<style scoped>

</style>
