<template>
    <div class="todo">
        <div class="sidebar">
            <br />
            <br />
            <br />
            <router-link class="side-link" to="/todo/list">List</router-link>
            <router-link class="side-link" to="/todo/add">Add</router-link>
        </div>
        <div class="content">
            <router-view /> 
        </div>
    </div>        
</template>
<script>
export default {
    name: "Todo",
}
</script>
<style scoped>

</style>
