<template>
    <div>
        <center>
            <h3>Open Todos: {{ countTodos }}</h3>
            <ul class="todo-list">
                <li v-for="(todo, index) in todos" v-bind:key="index">
                    <span class="title">{{ todo.title }}</span>
                    <span class="date">{{ todo.date }}</span>
                    <button v-on:click="remove(index)">
                        <font-awesome-icon icon="trash" />
                    </button>
                    <p class="description">{{ todo.description }}</p>
                </li>
            </ul>
        </center>
    </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
export default {
    name: "TodoList",
    computed: {
        ...mapGetters({
            countTodos: "todo_countTodos",
            todos: "todo_sortArray",
        })
    },
    methods: {
        ...mapMutations({
            remove: "TODO_REMOVE"
        }),
    },
}
</script>
<style scoped>
ul {
    list-style-type: none;
    padding: 0;
}

li, span {
    padding: 10px;
    background: white;
    box-shadow: 0 5px 5px lightgrey;
    outline: none;
}

li {
    margin: 10px;
}

span.title {
    margin-right: 0;
    background: rgb(233, 230, 230);
}

button {
    padding: 10px;
    background: #FAFAFA;
    box-shadow: 0 5px 5px lightgrey;
    outline: none;
}
</style>