<template>
  <div id="app">
    <div class="headerbar">
      <nav class="header-nav">
        <router-link class="left-space" to="/accumulo">Accumulo GUI</router-link>
        <router-link class="link" to="/todo">ToDo</router-link>
        <router-link class="link" to="/links">Links</router-link>
      </nav>
    </div>
    <div class="sidebar" />
    <div class="content">
      <router-view /> 
    </div>
</div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style>
body {
    background: #FAFAFA;
    font-family: Ubuntu;
    display: grid;
    padding-top: 50px;
}

div.headerbar {
  height: 73px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  overflow-y: hidden;
}

a {
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: inline-block;
}

.left-space {
  margin-left: 180px;
}

div.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.side-link {
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.left-space:hover, .link:hover {
  color: white;
}

div.content {
  position: relative;
  margin-left: 180px;
  margin-top: 50px;
}
</style>
